@teamgeeksolution:registry=https://npm.pkg.github.com

################################
# Please uncomment the below line of script to install the required package
# @teamgeeksolution/evaluation-module package.
################################

//npm.pkg.github.com/:_authToken=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
